<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>붕어빵&고구마 찾기</title>
  <link href="static/css/wintersnackFinder.css" rel="stylesheet" >
</head>
<body>
  <div class="image-container">
    <!-- 붕어빵 -->
    <div class="image-item">
      <a href="/find/bungeoppang">
        <img src="static/images/bungeoppang.png" alt="Rotating Image" class="rotate-image">
      </a>
      <p class="caption">붕어빵 찾기</p>
    </div>
    <!-- 군고구마 -->
    <div class="image-item">
      <a href="/find/sweetpotato">
        <img src="static/images/sweetpotato.png" alt="Rotating Image" class="rotate-image2">
      </a>
      <p class="caption">군고구마 찾기</p>
    </div> 
  </div>
</body>
</html>